body{
    background-color: #88dae5;
}

h1{
    background-color: #000;
    color: #fff;
    text-align: center;
}

h2{
    background-color: #000;
    color: #fff;
    text-align: left;
}

h3{
    background-color: #000;
    color: #fff;
    text-align: left;
}
h4{
    background-color: #000;
    color: #fff;
    text-align: left;
}

h5{
    background-color: #000;
    color: #fff;
    text-align: left;
}

h6{
    background-color: #000;
    color: #fff;
    text-align: left;
}

p{
    background-color: #000;
    color: #fff;
    text-align: left;
}

b{
    background-color: #b52424;
    color: #fff;
    text-align: left;
}

i{
    background-color: #2426b5;
    color: #fff;
    text-align: left;
}
u{
    background-color: #b5b524;
    color: #fff;
    text-align: left;
}
br{
    background-color: #000;
    color: #fff;
    text-align: left;
}
